<div id='container'>
  <div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
  </ul>
    <!-- <a href='/logout' class='logout'>Logout</a> -->
  </div>
  <div>
    <div>
      <input type="text" ng-model='LCtrl.filter' placeholder="filter for urls (Case sensitive)">
      <p>{{LCtrl.filter}}</p>
    </div>
    <div ng-model='LCtrl.data' ng-repeat="link in LCtrl.data.links | orderBy: 'visits' : true | filter: filter" >
    <!-- filter buggy looks into whole link object for the typed string/letter -->
      <img src='../assets/redirect_icon.png'/>
      <div class='info'>
        <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
        <div class='title'>{{link.title}}</div>
        <div class='original'>{{link.url}}</div>
       <shortened-link></shortened-link>
      </div>    
    </div>
  </div>
</div>
